<div class="container archive-wrap">
  <div class="row">
    <div class="col-md-10 offset-md-1 col-sm-11 offset-sm-1">
      <h1><%= @post.title %></h1>
      <div class="icon-tag">
        <%= icon('fas','tag') %>
        <% @post.tags.each do |tag|%>
          <div class="badge badge-primary tag-badge">
            <%= link_to tag.name, "/posts/tagged/#{tag.id}" %>
          </div>
        <%end%>
      </div>
      <div class="icon-publish">
        <span class="clock"><%= icon('far','clock')%></span><%=simple_time(@post.created_at) %>
      </div>
      <div class="content-wrap">
        <div class="thumb-container">
          <%= image_tag @post.image_name.url%>
        </div>
        <hr>
        <p><%= @post.content %></p>
      </div>
      <h3>関連記事</h3>
      <div class="related_post_wrap">
        <% @related_posts.each do |related_post| %>
        <div class="related_post">
          <%= link_to post_path(related_post) do %>
          <div class="related_post_image">
            <%= image_tag related_post.image_name.url%>
          </div>
          <div class="related_post_title">
            <h4><%= related_post.title %></h4>
          </div>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
