<div class="container archive-wrap">
  <div class="row">
    <div class="col-sm-10 offset-sm-1">
      <h1><%= @post.title %></h1>
      <div class="icon-tag">
        <% @post.tags.each do |tag|%>
          <div class="badge badge-primary">
            <%=  tag.name %>
          </div>
        <%end%>
      </div>
      <div class="icon-publish">
        <span class="clock"><%= icon('far','clock')%></span><%=simple_time(@post.created_at) %>
      </div>
      <div class="content-wrap">
        <%= image_tag @post.image_name.thumb.url%>
        <p><%= @post.content %></p>
      </div>
    </div>
  </div>
</div>
