<!DOCTYPE html>
<html>
  <head>
    <title>MyBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="/">MyBlog</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
        </ul>
        <%= search_form_for @q, class:"form-inline" do |f| %>
          <%= f.search_field :title_cont, class:"form-control mr-md-2", placeholder:"タイトル検索" %>
          <%= f.submit class:"btn btn-outline-success"%>
        <% end %>
      </div>
    </nav>

    <%if notice %>
    <div id="notice" class="alert alert-info"><%= notice %></div>
    <%end%>
    <%if alert %>
    <div id="alert" class="alert alert-danger"><%= alert %></div>
    <%end%>
    <%= yield %>
    <footer>
      <div class="footer-wrap">
        <h4>TAGS</h4>
        <hr>
        <% tags = Tag.all %>
        <%tags.each  do |tag| %>
        <%= link_to "/posts/tagged/#{tag.id}" do %>
        <%= "#{tag.name}(#{tag.taggings.count})"%>
        <%end%>
        <%end%>
      </div>
    </footer>


  </body>
</html>
